[submodule "plugins/denso"]
	path = plugins/denso
	url = git@github.com:Airthium/tanatloc-ssr-plugin-denso.git
[submodule "plugins/rescale"]
	path = plugins/rescale
	url = git@github.com:Airthium/tanatloc-ssr-plugin-rescale.git
[submodule "plugins/sharetask"]
	path = plugins/sharetask
	url = git@github.com:Airthium/tanatloc-ssr-plugin-sharetask.git
