[submodule "plugins/denso"]
	path = plugins/denso
	url = git@github.com:Airthium/tanatloc-plugin-denso.git
[submodule "plugins/rescale"]
	path = plugins/rescale
	url = git@github.com:Airthium/tanatloc-plugin-rescale.git
[submodule "plugins/sharetask"]
	path = plugins/sharetask
	url = git@github.com:Airthium/tanatloc-plugin-sharetask.git
[submodule "plugins/airthium"]
	path = plugins/airthium
	url = git@github.com:Airthium/tanatloc-plugin-airthium.git