{
  "minify": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true
    },
    "target": "es2016",
    "baseUrl": "./",
    "paths": {
      "@/config": ["config"],
      "@/config/*": ["config/*"],
      "@/models": ["models"],
      "@/models/*": ["models/*"],
      "@/templates": ["templates"],
      "@/templates/*": ["templates/*"],
      "@/plugins": ["plugins"],
      "@/plugins/*": ["plugins/*"],
      "@/api": ["src/api"],
      "@/api/*": ["src/api/*"],
      "@/auth": ["src/auth"],
      "@/auth/*": ["src/auth/*"],
      "@/components": ["src/components"],
      "@/components/*": ["src/components/*"],
      "@/context": ["src/context"],
      "@/context/*": ["src/context/*"],
      "@/database": ["src/database"],
      "@/database/*": ["src/database/*"],
      "@/lib": ["src/lib"],
      "@/lib/*": ["src/lib/*"],
      "@/pages": ["src/pages"],
      "@/pages/*": ["src/pages/*"],
      "@/route": ["src/route"],
      "@/route/*": ["src/route/*"],
      "@/services": ["src/services"],
      "@/services/*": ["src/services/*"],
      "@/styles": ["src/styles"],
      "@/styles/*": ["src/styles/*"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
