@value variables: "@/styles/variables.css";
@value colorPrimary from variables;

.editor {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.editor :global(.ant-menu-item-divider) {
  border: 1px solid colorPrimary !important;
  margin: 0 30px !important;
}

.header {
  background: white !important;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.autoSave {
  display: flex;
  align-items: center;
  gap: 5px;
}

.steps {
  width: 206px;
  margin: 25px;
}

.steps :global(.ant-steps-item-title) {
  line-height: 20px !important;
}

.code {
  width: 100%;
  height: calc(100% - 64px);
}

.codeBlock {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.code h3 {
  margin: 0 !important;
  padding: 0 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tooltip {
  position: absolute;
  z-index: 10;
  background-color: #1f1f1f;
  border: 1px solid rgba(0, 0, 0, 0.45);
  overflow: auto;
}

.tooltip :global(.ant-card-head) {
  color: #fff;
}

.tooltip :global(.ant-card-extra) {
  margin-left: 20px;
}

.codeBlock :global(.ace_pasted_line) {
  background-color: rgba(135, 206, 250, 0.3);
  position: absolute;
}
