@value variables: "@/styles/variables.css";
@value colorPrimary from variables;

.editor {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.editor :global(.ant-menu-item-divider) {
  border: 1px solid colorPrimary !important;
  margin: 0 30px !important;
}

.header {
  background: white !important;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps {
  width: 206px;
  margin: 25px;
}

.steps :global(.ant-steps-item-title) {
  line-height: 20px !important;
}

.code {
  width: 100%;
  height: calc(100% - 64px);
  display: flex;
}

.code :global(.Resizer) {
  background: #000;
  opacity: 0.5;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8px;
  cursor: col-resize;
}


.split-pane {
  display: flex;
  flex: 1;
  position: unset !important;
  outline: none;
  overflow: hidden;
}

.pane1 {
  flex: 1;
  overflow: auto;
}

.pane2 {
  flex: 1;
  overflow: auto;
}

.resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}


.code h3 {
  margin: 0 !important;
  padding: 0 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tooltip {
  position: absolute;
  z-index: 10;
  background-color: #1f1f1f;
  border: 1px solid rgba(0, 0, 0, 0.45);
  overflow: auto;
}

.tooltip :global(.ant-card-head) {
  color: #fff;
}

.tooltip :global(.ant-card-extra) {
  margin-left: 20px;
}
