.Account {
  display: flex;
}

.Account > div:first-child {
  display: flex;
  justify-content: center;
  width: 300px;
}

.Account > div:last-child {
  flex: 1 1 auto;
}

.ant-tabs-content-holder {
  height: calc(100vh - 197px);
  overflow: auto;
}
