.Dashboard {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Dashboard-Sider > div {
  position: relative;
}

.Dashboard-Menu {
  height: 100%;
  overflow-x: hidden;
  border-right: 0px !important;
}

.Dashboard-Menu-Divider {
  margin: 10px 20px !important;
}

.inDashboard {
  padding: 0 64px;
  height: 100vh;
}

.inDashboard-PageHeader {
  padding-left: 0;
  padding-right: 0;
}

.inDashboard-PageHeader-title {
  margin-bottom: 0 !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 28px !important;
}

.inDashboard-PageHeader-title:first-letter {
  text-transform: uppercase;
}

.inDashboard-Tabs {
  color: @tanatloc-text-light;
}

.inDashboard-Tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: @tanatloc-text-dark;
}

.inDashboard .ant-tabs {
  height: 100%;
}

.inDashboard .ant-tabs-content-holder {
  display: flex;
}
