.editor-steps {
  padding-left: 10px;
}

.editor-steps .ant-steps-item {
  text-align: left;
  margin-left: 20px;
}

.editor-steps .ant-steps-item::after {
  left: 40% !important;
}

.editor-sider button {
  width: 80%;
  margin-top: 10px;
  margin-left: 20px;
}
