@font-face {
  font-family: 'Saira';
  src: url('/fonts/saira/Saira-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Saira';
  src: url('/fonts/saira/Saira-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Saira';
  src: url('/fonts/saira/Saira-MediumItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Saira';
  src: url('/fonts/saira/Saira-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Saira';
  src: url('/fonts/saira/Saira-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Saira';
  src: url('/fonts/saira/Saira-ExtraBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Saira';
  src: url('/fonts/saira/Saira-ExtraBoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: 'Saira';
  src: url('/fonts/saira/Saira-Black.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
}
