@import '~antd/dist/antd.less'; // Import Ant Design styles by less entry
@import './tanatloc-theme.less'; // variables to override above
@import './notfound.less';
@import './background.less';
@import './index.less';
@import './login.less';
@import './signup.less';
@import './loading.less';
@import './account.less';
@import './dashboard.less';
@import './workspace.less';
@import './project.less';
@import './view.less';
@import './panel.less';

html,
body {
  width: 100%;
  height: 100%;
}

#__next {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.75);
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.75);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.75);
}

.ant-btn:hover:not(.ant-btn-primary),
.ant-btn:focus:not(.ant-btn-primary) {
  color: #000;
  border-color: #000;
}

.no-scroll {
  overflow: hidden;
}

.scroll {
  overflow: auto;
}

.relative {
  position: relative;
}

.logo {
  padding: 21px 8px 21px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @tanatloc-primary-color;
  height: 64px;
  margin-right: -1px;
}

// This is a bugfix for AvatarGroup icons that show up pixelated on Firefox (and not on Chrome)
.ant-avatar-group .ant-avatar {
  border: unset !important;
}

// .Tanatloc-divider {
//   padding: 1px;
//   background: @tanatloc-primary-color;
//   border-top: 0 !important;
// }

.version {
  position: absolute;
  bottom: 0;
  left: 5px;
  color: transparent;
  cursor: default;
}

// Remove last margin at the end of a form in a dialog box
// .Dialog .ant-form-item:last-child {
//   margin: 0 !important;
// }

// .Dialog .ant-form-item-label {
//   overflow: auto !important;
// }

// .ant-typography-edit > * > svg {
//   fill: fade(@tanatloc-primary-color, 50%);
// }

// // Space
// .ant-space-vertical {
//   width: 100% !important;
// }

// .ant-space-horizontal {
//   width: 100% !important;
// }

// .ant-space-align-center {
//   width: 100% !important;
//   justify-content: center !important;
// }

// .ant-space-horizontal > .ant-space-item {
//   flex: 1 1 auto !important;
// }
