.Index2 {
    max-width: 100vw;
    max-height: 100vh;
  }

  .get-started {
      background:  @tanatloc-primary-color;
      width: 30%;
      height: 5vh;
      text-align: center;
  }
  
  .Index2-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
  }
  
  .Index2-header > * {
    z-index: 1;
  }

  .Index2-logo {
      max-height: 80%;
  }

  .Index2-modelisation {
      max-width: 100%;
      max-height: 100%
  }

  .Index2-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%
  }

  .Index2-title1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .Index2-models {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    background: @tanatloc-primary-color;
  }

  .Index2-models-content {
    display: flex; 
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 50px 0 50px 0;
  }

  .Index2-models-icons {
      font-size: 1.5rem;
      color: white;
  }

  .Index2-models-text {
      margin: 0 0 0 15px;
      font-size: 1.2rem;
  }

  .Index2-plugins {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .Index2-header img {
    max-height: 80%;
  }
  
  .Index2-content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Index2-content h1.ant-typography {
     width: 100%;
     margin-bottom: 0;
  }
  
  .Index2-content .ant-divider {
    margin: 12px 0 24px 0;
  }
  
  .Index2-cols {
    max-width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .Index2-row {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 10px;
    justify-items: center;
    max-height: 400px;
  }

  .Index2-row-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: center;
    justify-content: center;
    
  }
  
  .Index2-card {
    width: 90%;
    background-color: white;
    opacity: 0.9;
    cursor: default;
  }
  
  .Index2-card.coming-soon {
    background-color: #9c9c9c;
  }
  
  .Index2-card img {
    max-width: 100%;
    margin: auto;
  }
  