.Index {
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding: 0 100px;
}

.Index-Header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  margin-bottom: 90px;
}

.Index-Header img {
  margin-right: auto;
}

.img-shadow {
  box-shadow: 0px 0px 6px -4px rgba(0, 0, 0, 0.12),
    0px 0px 16px rgba(0, 0, 0, 0.08), 0px 0px 28px 8px rgba(0, 0, 0, 0.05);
}

.Index-models {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  align-items: unset !important;
  justify-items: stretch;
  grid-gap: 20px;
}

.Index-models .ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0 !important;
}

.Index-models .ant-checkbox-inner {
  border-color: #fff;
}

.Index-plugins {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Index-plugins > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 160px;
  text-align: center;
}

.Index-plugins .ant-avatar {
  background-color: @tanatloc-primary-color;
  padding: 5px;
  line-height: 60px !important;
}

.Index-casestudy {
  box-shadow: 0px 0px 6px -4px rgba(0, 0, 0, 0.12),
    0px 0px 16px rgba(0, 0, 0, 0.08), 0px 0px 28px 8px rgba(0, 0, 0, 0.05);
  justify-items: space-around !important;
}

.Index-casestudy-left {
  width: 70%;
}

.Index-casestudy-left h3 {
  margin-top: -0.5em !important;
}

.Index-casestudy-left > h2.ant-typography {
  text-align: left;
}

.Index-steps {
  width: 50%;
  margin: auto;
}

.Index-steps .ant-steps-item {
  margin-bottom: 20px;
}

.Index-steps .ant-steps-item-icon {
  width: 64px;
  height: 64px;
  line-height: 64px;
  font-size: 32px;
}

.Index-steps .ant-steps-item-tail {
  top: 26px !important;
  left: 32px !important;
}

.Index .ant-steps-item-title {
  font-weight: bold;
}

.Index-about {
  box-shadow: 0px 0px 6px -4px rgba(0, 0, 0, 0.12),
    0px 0px 16px rgba(0, 0, 0, 0.08), 0px 0px 28px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 200px;
  padding: 50px 0;
}

.Index-about-turbine {
  width: 100%;
  height: 100%;
  background-image: url('/images/indexpage/turbine.jpg');
  background-position: center;
}
