.Index {
  background: @tanatloc-primary-color;
  max-width: 100vw;
  max-height: 100vh;
}

.Index-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: @tanatloc-primary-color;
}

.Index-header > * {
  z-index: 1;
}

.Index-header img {
  max-height: 80%;
}

.Index-content {
  z-index: 1;
}

.Index-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Index-row {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 10px;
  justify-items: center;
}

.Index-card {
  width: 90%;
  background-color: white;
  opacity: 0.9;
  cursor: default;
}

.Index-card.coming-soon {
  background-color: #9c9c9c;
}

.Index-card img {
  max-width: 100%;
  margin: auto;
}
