@media all and (max-width: 1200px) {
  .default-side {
    display: flex !important;
    flex-direction: column !important;
  }

  .Index {
    padding: 0 20px !important;
  }

  .Index-Header {
    width: calc(100% + 40px);
    margin-left: -20px;
    padding: 20px 10px;
  }

  .Index-Menu {
    display: none;
  }

  .Index-Menu-mobile {
    display: flex !important;
    justify-content: center;
  }

  .Index-getstarted {
    display: none;
  }

  .ant-menu .Index-getstarted {
    display: flex;
  }

  .Index-login-button {
    display: none;
  }

  .ant-menu .Index-login-button {
    display: flex;
  }

  .Index-models {
    display: flex !important;
    flex-direction: column !important;
    padding: 20px !important;
  }

  .img-shadow {
    display: none;
  }

  .Index-padding-50 {
    padding: 20px !important;
  }

  .Index-plugins {
    margin: auto;
    margin-top: 20px;
  }

  .Index-steps {
    width: unset !important;
  }

  .Footer-head {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  Footer {
    background: @tanatloc-primary-color !important;
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  .ant-layout-footer {
    padding: unset;
    padding-bottom: 20px;
  }

  .Footer-head ul {
    display: flex;
    flex-wrap: wrap;
  }

  .Footer-head .Footer-Card li:first-child {
    padding-top: 12px !important;
  }

  .Footer-Card .ant-space {
    flex-direction: row;
  }

  .Footer-footer {
    display: unset;
    justify-content: unset;
  }

  .Footer-footer img {
    display: none;
  }

  .Footer-footer .ant-typography {
    text-align: right;
    margin-right: 20px;
  }

  .Index-crowdfunding a {
    margin: auto;
  }
}
