@media all and (max-width: 1200px) {
    .default-side {
        display: flex !important;
        flex-direction: column !important;
    }

    .Index {
        padding: 0 20px !important
    }

    .Index-models {
        display: flex !important;
        flex-direction: column !important;
        padding: 20px !important
    }

    .img-shadow {
        display: none;
    }

    .padding-50 {
        padding: 0 !important
    }
}