@media all and (max-width: 1200px) {
    .default-side {
        display: flex !important;
        flex-direction: column !important;
    }

    .Index {
        padding: 10% !important
    }

    .default-side img {
        display: none
    }
}