.Panel {
  position: absolute;
  top: 0;
  left: -1px;
  width: 300px;
  max-height: 100vh;
  z-index: 1;
  overflow: hidden;
}

.Panel .ant-card-body {
  max-height: calc(100vh - 65px);
  overflow: auto;
}

.Card-footer {
  border-top: 1px solid #f0f0f0;
}
