.panel {
  position: absolute;
  top: 0;
  left: -1px;
  width: 256px;
  max-height: 100vh;
  z-index: 100;
  overflow: hidden;
}

.panel .ant-card {
  border: none;
}

// .panel .antd-card {
//   border-top: none !important;
// } // No sense

.panel .ant-card-head .ant-btn {
  border: none;
}

.panel .ant-card-body .ant-card-head {
  border: none;
}

// .panel .ant-card-bordered {
//   border-top: none !important;
// } // No sense

.panel .ant-card-head {
  height: 64px;
}

.panel .ant-card-body .ant-card-body {
  padding-top: 0;
  max-height: calc(100vh - 65px);
  overflow: auto;
}

.panel .ant-card-body .ant-divider {
  border-top: 1px solid #f0f0f0;
  margin-left: -12px;
  margin-top: 4px;
  margin-bottom: 4px;
  width: calc(100% + 24px);
}

.panel .ant-card-body .ant-collapse {
  margin: 0;
  border: none;
}

.panel .ant-card-body .ant-collapse-item {
  border: none;
}

.panel .ant-card-body .ant-collapse-content-box {
  padding: 12px;
  background-color: #fafafa;
}

.panel .ant-card-body .ant-collapse-content-box .ant-card-head {
  background-color: #fafafa;
}

.panel .ant-card-body .ant-collapse-content-box .ant-card-body {
  background-color: #fafafa;
}

.panel img {
  max-height: 126px;
}
