.Geometry-list {
  padding: 20px;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  box-shadow: 0px -1px 0px #f0f0f0;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: black
}
