.View {
  width: 100%;
  height: 100%;
}

.View-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.View-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(250, 209, 20, 0.5), transparent);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.View-canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.View-controls {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 140px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
  background-color: transparent;
  z-index: 1;
  overflow: hidden;
}

.View-controls-drawer {
  position: absolute;
  max-width: 140px;
  height: 100vh;
}
