.View {
  width: 100%;
  height: 100%;
}

.View-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.View-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 118, 0.1);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.View-loading-spin {
  color: #fad114;
}

.View-canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.View-header {
  position: absolute;
  top: 160px;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 10;
  height: calc(100% - 160px);
  padding: 0 57px;
}

.View-controls-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

