.inWorkspace-PageHeader {
  padding: 0;
}

.inWorkspace-shared {
  display: flex;
  align-items: center;
}

.inWorkspace-Tabs {
  margin-top: 20px;
  margin-bottom: 20px;
  color: @tanatloc-text-light;
}

.inWorkspace-Tabs .ant-tabs-nav {
  border-bottom: none;
}

.inWorkspace-Tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: @tanatloc-primary-color;
}
