@values variables: "@/styles/variables.css";
@value colorPrimary from variables;

.view {
  width: 100%;
  height: 100%;
}

.head {
  position: absolute;
  top: 160px;
  right: 0;
  bottom: 0;
  background-color: transparent !important;
  z-index: 10;
  height: calc(100% - 160px);
  padding: 0 57px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 118, 0.1);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading :global(.ant-spin) {
  color: colorPrimary;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
