.Dashboard-sider > div {
  position: relative;
}

.Dashboard-profile {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: @tanatloc-gradient-to-right;
  color: white;
  border: none;
  padding: 15px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
