.Dashboard-sider > div {
  position: relative;
}

.Dashboard-menu {
  height: 100%;
  overflow-x: hidden;
}

.Welcome {
  padding: 0 64px;
  max-height: 100%;
}

.Welcome-divider {
  padding: 1px;
  background-image: @tanatloc-gradient-to-right;
}

#Add-workspace-button {
  text-align: center;
}

#Add-workspace-button button {
  margin: 20px 0;
}
