@import './antd.less';

.Index {
  background: @tanatloc-primary-color;
}

.Index-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: @tanatloc-primary-color;
}

.Index-header > * {
  z-index: 1;
}

.Index-header img {
  max-height: 80%;
}
