.Login {
  margin: auto !important;
  width: 400px;
}

.Login-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: @tanatloc-gradient-to-right;
}

.Login-header > * {
  z-index: 1;
}

.Login img {
  display: block;
  max-width: 75%;
  margin: auto;
}

.Login-forgot {
  float: right;
}

.Login-submit button {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.Login-submit a {
  margin-left: 25%;
}
