.View-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  background-color: transparent;
}

.View-menu-drawer {
  position: absolute;
}

.View-controls {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px;
  background-color: transparent;
}

.View-controls-drawer {
  position: absolute;
}

.View-drawer-group {
  display: flex;
  justify-content: space-around;
}

.View-drawer-subgroup {
  display: flex;
  flex-direction: column;
}
